:root {
  --background: #f3f4f8;
  --light-0: #fff;
  --light-10: #fbfaff;
  --primary-main: #5051f9;
  --primary-light: #5051f9;
  --dark-100: #768396;
  --dark-200: #6a7181;
  --dark-300: #5f6388;
  --text-main: #232360;
}
