:root {
  --white: #fff;
  --background: #f3f4f8;
  --light-10: #fbfaff;
  --primary-main: #5051f9;
  --primary-light: #5051f9;
  --dark-main: #5f6388;
  --dark-medium: #6a7181;
  --dark-light: #768396;
  --text-main: #232360;
}
