.wrapper {
  width: 80px;
  height: 100%;
  background-color: var(--light-10);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;

  .logo_wrapper {
    padding-top: 20px;
    width: 60%;
    .logo {
      width: 100%;
    }
  }

  .items {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    .item_wrapper {
      padding: 12px;
      border-radius: 14px;
      line-height: 0;
      cursor: pointer;
      //   &:hover {
      //     background-color: var(--primary-main);
      //   }
    }
  }
}
